################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vinacent.FileServer/appsettings.Development.json
/.vs